#fullscreen-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#fullscreen-wrap .btn {
	position: absolute;
	top: 10px;
	right: 0px;
}
#fullscreen-wrap .btn a {
	padding: 0 20px;
	background: #666;
	color: #fff;
}
#fullscreen-wrap .btn a:hover {
	background: #ccc;
	color: #000;
}
#fullscreen-wrap #prev {
    -ms-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
	margin-right: 2px;
}

#fullscreen-wrap #next {
    -ms-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

#fullscreen-box {
	position: absolute;
	top: 100px;
	right: 0;
	width: 100%;
	height: 100%;
}
#fullscreen-box ul {
    position: absolute;
	top: 0;
	width: 25%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition: 1s all ease;
	-moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
}

#fullscreen-box .l3 {
    right: 100%;
	-webkit-transform: perspective(1000px) scale(1.43)  rotateY(60deg) translateX(0px);
	-moz-transform: perspective(1000px) scale(1.43)  rotateY(60deg) translateX(0px);
    -ms-transform: perspective(1000px) scale(1.43)  rotateY(60deg) translateX(0px);
    -o-transform: perspective(1000px) scale(1.43)  rotateY(60deg) translateX(0px);
    transform: perspective(1000px) scale(1.43)  rotateY(60deg) translateX(0px);
}

#fullscreen-box .l2 {
    right: 75%;
	-webkit-transform: perspective(1000px) scale(1.11)  rotateY(28deg) translateX(6px);
	-moz-transform: perspective(1000px) scale(1.11)  rotateY(28deg) translateX(6px);
    -ms-transform: perspective(1000px) scale(1.11)  rotateY(28deg) translateX(6px);
    -o-transform: perspective(1000px) scale(1.11)  rotateY(28deg) translateX(6px);
    transform: perspective(1000px) scale(1.11)  rotateY(28deg) translateX(6px);
}

#fullscreen-box .l1 {
    right: 50%;
	-webkit-transform: perspective(1000px) rotateY(8deg) translateX(6px);
	-moz-transform: perspective(1000px) rotateY(8deg) translateX(6px);
    -ms-transform: perspective(1000px) rotateY(8deg) translateX(6px);
    -o-transform: perspective(1000px) rotateY(8deg) translateX(6px);
    transform: perspective(1000px) rotateY(8deg) translateX(6px);
}

#fullscreen-box .r1 {
    right: 25%;
	-webkit-transform: perspective(1000px) rotateY(-8deg) translateX(6px);
	-moz-transform: perspective(1000px) rotateY(-8deg) translateX(6px);
    -ms-transform: perspective(1000px) rotateY(-8deg) translateX(6px);
    -o-transform: perspective(1000px) rotateY(-8deg) translateX(6px);
    transform: perspective(1000px) rotateY(-8deg) translateX(6px);
}

#fullscreen-box .r2 {
    right: 0;
	-webkit-transform: perspective(1000px) scale(1.11)  rotateY(-28deg) translateX(6px);
	-moz-transform: perspective(1000px) scale(1.11)  rotateY(-28deg) translateX(6px);
    -ms-transform: perspective(1000px) scale(1.11)  rotateY(-28deg) translateX(6px);
    -o-transform: perspective(1000px) scale(1.11)  rotateY(-28deg) translateX(6px);
    transform: perspective(1000px) scale(1.11)  rotateY(-28deg) translateX(6px);
}

#fullscreen-box .r3 {
    right: -25%;
	-webkit-transform: perspective(1000px) scale(1.43)  rotateY(-60deg) translateX(0px);
	-moz-transform: perspective(1000px) scale(1.43)  rotateY(-60deg) translateX(0px);
    -ms-transform: perspective(1000px) scale(1.43)  rotateY(-60deg) translateX(0px);
    -o-transform: perspective(1000px) scale(1.43)  rotateY(-60deg) translateX(0px);
    transform: perspective(1000px) scale(1.43)  rotateY(-60deg) translateX(0px);
}

#fullscreen-box ul li {
    width: 100%;
	height: 30%;
	margin-top: 2.5%;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
	-webkit-transform: perspective(1000px) translateY(4px) rotateX(-180deg);
	-moz-transform: perspective(1000px) translateY(4px) rotateX(-180deg);
    -ms-transform: perspective(1000px) translateY(4px) rotateX(-180deg);
    -o-transform: perspective(1000px) translateY(4px) rotateX(-180deg);
    transform: perspective(1000px) translateY(4px) rotateX(-180deg);
	background: #fff;
}

#fullscreen-box ul li a {
    display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}

#fullscreen-box ul li a:hover {
    -webkit-box-shadow: 0 0 5px 3px #0164C5, inset 0 0 2px 4px #0164C5;
    -ms-box-shadow: 0 0 5px 3px #0164C5, inset 0 0 2px 4px #0164C5;
    box-shadow: 0 0 5px 3px #0164C5, inset 0 0 2px 4px #0164C5;
}